.description-image {
	position: relative;
}

.image-with-chevrons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 34px;
	color: white;

	.fa-chevron-right,
	.fa-chevron-left {
		color: white;
	}

	.fa-chevron-right {
		padding-right: 10px;
	}

	.fa-chevron-left {
		padding-left: 10px;
	}
}
