.footer-container {
	height: 209px;
	background-color: black;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	width: 100%;

	.footer-container__items {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
		gap: 30px;
	}

	.smallRights-image {
		display: none;
	}
}

@media  screen and (max-width: 425px) {
	.footer-container .allRights {
		display: none;
	}

	.footer-container .smallRights-image {
		display: block;
	}
		.footer-container {
		border-radius: 3px 3px;
	}
}


