.footer-container {
	height: 209px;
	background-color: black;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	max-width: 1440px;

	.footer-container__items {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
		gap: 30px;
	}
}

@media screen and (max-width: 560px) {
	.footer-container{
		max-width: 560px;
	
	}
	.footer-container__items img{
		max-width: 300px;
	}
}

@media screen and (max-width: 375px) {
	.footer-container{
		max-width:375px;
		margin-right: auto;
		margin-left: auto;
		border-radius: 3px 3px;
	}

	
}
